@using LudumDare54.Core.Modifiers;
@using LudumDare54.Core.Tags;
@{
    var guid = Guid.NewGuid();
    var modifierTypesId = $"ModifierType:{guid}";
}
<ul class="modifiers">
    @foreach (var modifier in Modifiers) {
        <li>
            <div>
                @if (modifier is AddKeyTagModifier addKeyTagModifier) {
                    <AddKeyTagModifierComponent Modifier="addKeyTagModifier" />
                }
                else if (modifier is AddSessionKeyTagModifier addSessionKeyTagModifier) {
                    <AddSessionKeyTagModifierComponent Modifier="addSessionKeyTagModifier" />
                }
                else if (modifier is RemoveKeyTagModifier removeKeyTagModifier) {
                    <RemoveKeyTagModifierComponent Modifier="removeKeyTagModifier" />
                }
                else if (modifier is RemoveSessionKeyTagModifier removeSessionKeyTagModifier) {
                    <RemoveSessionKeyTagModifierComponent Modifier="removeSessionKeyTagModifier" />
                }
                else if (modifier is ReplaceKeyTagModifier replaceKeyTagModifier) {
                    <ReplaceKeyTagModifierComponent Modifier="replaceKeyTagModifier" />
                }
                else if (modifier is ReplaceSessionKeyTagModifier replaceSessionKeyTagModifier) {
                    <ReplaceSessionKeyTagModifierComponent Modifier="replaceSessionKeyTagModifier" />
                }
                <button type="button" @onclick="args=>Modifiers.Remove(modifier)" class="delete"><span>Delete</span></button>
            </div>
        </li>
    }
    <li>
        <input type="text" list="@modifierTypesId" @bind="NewModifierType" placeholder="Modifier type" />
        <datalist id="@modifierTypesId">
            @foreach (var tag in _availableModifierTypes) {
                <option>@tag.Key</option>
            }
        </datalist>
        <button type="button" @onclick="Add">Add</button>
    </li>
</ul>
