@using LudumDare54.Core.Modifiers;
@using LudumDare54.Core.Tags;

<span>Remove</span> <input type="text" @bind="Modifier.Key" />

@code {
    [Parameter]
    public required RemoveKeyTagModifier Modifier { get; set; }
}
