div.settings.view {
    display: flex;
    flex-direction: row;
    text-align: center;
    place-content: center;
    background-image: url(../wwwroot/graphics/menu/background-01.png);
    background-size: cover;

    .panel {
        margin-top: 2em;
        width: 26em;
        display: flex;
        flex-direction: column;
        place-items: center;

        header {
            display: flex;
            flex-direction: row;
            place-items: center;

            h1, h2, h3 {
                margin: 0;
            }

            .return {
                color: inherit;
                font-size: 2em;
                text-decoration: none;

                > span {
                    display: none;
                }
            }
        }

        label {
            padding: 0.5em 1em;
            background-color: white;
            border-radius: 0.5em;
            width: 25em;
            text-align: left;
            box-shadow: black 1px 1px 2px;

            &:hover {
                box-shadow: black 2px 2px 4px;
            }

            > span.label {
                width: 100%;
                font-weight: 100;
            }
        }
    }
}
