@using LudumDare54.Core.Tags;
@{
    var guid = Guid.NewGuid();
    var tagTypesId = $"TagType:{guid}";
}
<ul class="tags">
    @foreach (var tag in Tags) {
        <li class="@(tag.GetType()?.Name) createNew">
            @if (tag is KeyTag simpleTag) {
                <KeyTagComponent Model="simpleTag" />
            }
            <button type="button" @onclick="args=>Tags.Remove(tag)" class="delete"><span>Remove</span></button>
        </li>
    }
    <li>
        <input type="text" @bind="NewTagKey" />
        <input type="text" list="@tagTypesId" @bind="NewTagType" />
        <datalist id="@tagTypesId">
            @foreach (var tag in _availableTagTypes) {
                <option>@tag.Key</option>
            }
        </datalist>
        <button type="button" @onclick="AddTag">Add</button>
    </li>
</ul>