@using LudumDare54.Core.Conditions;
@using LudumDare54.Core.Tags;

<select @bind="Not">
    <option value="False">Is</option>
    <option value="True">Is not</option>
</select> 
<span>round</span>
<input type="text" @bind="Condition.Round" />

@code {
    public String Not { get => Condition.Not.ToString(); set => Condition.Not = Boolean.Parse(value); }

    [Parameter]
    public required IsRoundCondition Condition { get; set; }
}
