@using LudumDare54.Graphics.Pages.Editors.Conditions
@using LudumDare54.Graphics.Pages.Editors.Shared
@using LudumDare54.Graphics.Pages.Editors.Tags
<header>
    <button class="return" @onclick="args=>Manager.Swap(Model, new EventCardsPanelData())"><span>Return</span></button>
    <h2>Event card</h2>
    <button class="close" @onclick="args=>Manager.Remove(Model)"><span>Close</span></button>
</header>

<form @onsubmit:preventDefault class="main">
    <label class="simple control">
        <span class="label">Name</span>
        <input type="text" @bind="UniqueId" maxlength="64" />
    </label>

    <label class="simple control">
        <span class="label">Weight</span>
        <input type="text" @bind="Model.Card.Weight" min="0" max="9999" step="1" />
    </label>

    <div class="tags list control">
        <header>
            <span class="label">Tags</span>
        </header>
        <TagsComponent Tags="Model.Card.Tags" />
    </div>

    <div class="conditions list control">
        <header>
            <span class="label">Conditions</span>
        </header>
        <ConditionsComponent Conditions="Model.Card.Conditions" />
    </div>

    <div class="outcomes list control">
        <header>
            <span class="label">Outcomes</span>
        </header>
        <OutcomesComponent Outcomes="Model.Card.Outcome" />
    </div>

    <div>
        <button class="delete" type="button" @onclick="Delete"><span>Delete</span></button>
    </div>
</form>

@code {
    public String UniqueId {
        get => Model.Card.Id; 
        set {
            if (_repository.EventCards.Any(p=>p.Id.Equals(value, StringComparison.OrdinalIgnoreCase))) {
                return;
            }

            Model.Card.Id = value;
        }
    }
}