@using Core;
@using LudumDare54.Core.Scenes;
<header>
    <h2>Images</h2>
    <button class="close" @onclick="args=>Manager.Remove(Model)"><span>Close</span></button>
</header>

<form @onsubmit="_=>{}" @onsubmit:preventDefault class="search">
    <label>
        <input type="search" @bind="_searchInput" />
        <button class="search" type="submit">Search</button>
    </label>
</form>

<ul class="search">
    @foreach (var image in Images) {
        if (!image.File.Contains(_searchInput)
        && !image.Tags.Any(t => t.Key.Contains(_searchInput, StringComparison.OrdinalIgnoreCase))) {
            continue;
        }
        <li>
            <button type="button" class="title main" @onclick="args=>Manager.Swap(Model, new ImagePanelData(image))"><img src="@image.File" /></button>
            <button type="button" class="openAt" @onclick="args=>Manager.After(Model, new ImagePanelData(image))">&#x1F5D7;</button>
        </li>
    }
</ul>

<menu>
    <div>
        <button type="button" @onclick="LinkFile"><span>Add file</span></button>
    </div>
</menu>