@using LudumDare54.Core.Scenes;
@using LudumDare54.Graphics.Pages.Editors.Anchors
@using LudumDare54.Graphics.Pages.Editors.Shared
@using LudumDare54.Graphics.Pages.Editors.Tags
<header>
    <h2>Scene frame viewer</h2>
    <button class="close" @onclick="args=>Manager.Remove(Model)"><span>Close</span></button>
</header>

<form @onsubmit:preventDefault class="main">
    <div class="preview">
        <div class="inner" id="@_innerGuid">
            @if (_sceneComposer.SceneElements is not null) {
                foreach (var item in _sceneComposer.SceneElements) {
                    <img style="@($"left: {item.PositionX}%; top: {item.PositionY}%; transform-origin: {item.OriginX}% {item.OriginY}%; transform: translate(-{item.OriginX}%, -{item.OriginY}%) scale({item.Scale / 100})")" src="@item.File" />
                }
            }
        </div>
    </div>
    <button type="button" @onclick="args=>_=_sceneComposer.GenerateNewScene(_tags)">Renew</button>

    <div class="tags">
        <label>
            <span class="label">Tags</span>
        </label>
        <TagsComponent Tags="_tags" />
    </div>
</form>
