@using LudumDare54.Core;
@using LudumDare54.Core.States;

<div class="CardResultState" />

<div class="preview">
    <div class="inner" id="@_innerGuid">
    </div>
</div>

<p>
    @State.OutcomeId
    - 
    @State.Success
</p>

<button @onclick="args=>{OnSelect(); State.Finish();}" @onmouseenter="OnHover"><span>Continue</span></button>
