html, body, div#app, main, div.page, div.view {
    height: 100%;
    width: 100%;
}

@import 'panels.scss';
@import 'play.scss';

div.edit.view {
    display:flex;
    flex-direction:column;

    > nav {
        flex-shrink: 0;
    }
}

label {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;

    > span.label {
        width: 5em;

        &.main {
            width: auto;
        }
    }
}

ul.tags {
    margin-bottom: 0.5em;

    > li {
        display: flex;
        width:100%;
        > input {
            width:100%;
        }
    }
}

button.return:before,
a.return:before {
    content: '\25C0';
    margin-right: 0.3em;
}

button.close:before,
a.close:before {
    content: '\2715';
    margin-right: 0.3em;
}

ul.next > li {
    display: flex;
    flex-direction: row;

    > label {
        width: 100%;

        > .label {
            width: 100%;
        }
        > input {
            width: 3.2em;
        }
    }
}

li:has(> form > div > .delete:hover),
li:has(> .delete:hover) {
    background: #fbb;
}