html, body, div#app, main, div.page, div.view, div.panel, article {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

@import 'panels.scss';
@import 'menu.scss';
@import 'settings.scss';
@import 'play.scss';

div.edit.view {
    display: flex;
    flex-direction: column;

    > nav {
        flex-shrink: 0;
    }
}
input, select {
    padding: 0.2em 0.5em;
    box-sizing: border-box;
}

ul.tags {
    margin-bottom: 0.5em;

    > li, > li > div {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    > li > div {
        > input, > label {
            width: 100%;
            padding: 0.2em 0.5em;
            box-sizing: border-box;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

button.return:before,
a.return:before {
    content: '\25C0';
    margin-right: 0.3em;
}

button.close:before,
a.close:before {
    content: '\2715';
    margin-right: 0.3em;
}

ul.next > li {
    display: flex;
    flex-direction: row;

    > label {
        width: 100%;

        > .label {
            width: 100%;
            padding: 0.2em 0.5em;
        }

        > input {
            width: 3.2em;
        }
    }
}

li:has(> form > div > .delete:hover),
li:has(> .delete:hover) {
    background: #fbb;
}

div > form > label.preview {
    display: flex;
    flex-direction: column;
}

div.preview {
    position: relative;
    background: #eee;
    margin: 0.5em;
    margin-left: 4em;
    padding: 0;
    width: 16em;
    height: 9em;

    > .inner {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        width: 1280px;
        height: 720px;

        > img {
            position: absolute;
        }
    }

    overflow: hidden;
    list-style: none;

    > img {
        position: absolute;
    }
}
