@using LudumDare54.Core.Scenes;
@using LudumDare54.Graphics.Pages.Editors.Tags

<label class="position">
    <span class="label">Position</span>
    <input type="number" min="-500" max="500" step="1" @bind="Model.PositionX" />
    <input type="number" min="-500" max="500" step="1" @bind="Model.PositionY" />
</label>

<div class="tags">
    <label class="image">
        <span class="label">Image</span>
    </label>
    <TagsComponent Tags="Model.Tags"/>
</div>

<label class="scale">
    <span class="label">Scale</span>
    <input type="number" min="0" max="500" step="1" @bind="Model.Scale" />%
</label>

<label class="chance">
    <span class="label">Chance</span>
    <input type="number" min="0" max="100" step="1" @bind="Model.Chance" />%
</label>

@code {
    [Parameter]
    public StaticSelectingAnchor Model { get; set; }

    protected override void OnParametersSet() {
        Model.Tags ??= new();

        base.OnParametersSet();
    }
}
