@page "/play"
@using LudumDare54.Core.States;
@using LudumDare54.Graphics.Razor.Pages.States

<div class="play view">
    <a href="../" class="menu" @onclick="OnActivate" @onmouseenter="OnHover"><span>Menu</span></a>

    @if (_state is ManualState manualState) {
        <ManualStateComponent State="manualState" Session="_session" />
    }
    else if (_state is DeckSelectionState deckSelectionState) {
        <DeckSelectionStateComponent State="deckSelectionState" Session="_session" />
    }
    else if (_state is CardSelectionState cardSelectionState) {
        <CardSelectionStateComponent State="cardSelectionState" Session="_session" SceneManager="_sceneComposer" />
    }
    else if (_state is CardResultState cardResultState) {
        <CardResultStateComponent State="cardResultState" Session="_session" SceneManager="_sceneComposer" />
    }
    else {
        @_state?.GetType().Name
    }
</div>