@page "/"

<div class="index menu view">
    <div class="panel">
        <h1>The Despatch Rider Of Hope</h1>

        <nav>
            @if (SessionManager.HasSession) {
                <a href="/play" @onclick:preventDefault @onclick="Continue" @onmouseenter="OnHover"><span>Continue story</span></a>
            }
            <a href="/play" @onclick:preventDefault @onclick="StartNew" @onmouseenter="OnHover"><span>New story</span></a>

            <a href="/settings" @onclick="OnActivate" @onmouseenter="OnHover"><span>Settings</span></a>

            @if (CanEditRepository) {
                <a href="/editor" @onclick="OnActivate" @onmouseenter="OnHover"><span>Editor</span></a>
            }

            @if (CanQuit) {
                <button type="button" @onclick="TryQuit" @onmouseenter="OnHover"><span>Quit</span></button>
            }
        </nav>
    </div>
</div>
